:root{
    --rosaClaro: #FFC0CB;
    --azulClaro: #00aef3;
    --amarelo: rgb(254,254,90);
    --rosaPink: #d20189;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background-color: VAR(--rosaClaro);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--azulClaro);
}

header .container{
    display: flex;
    flex-direction: row; /*default*/
    align-items: center;
    justify-content: space-between; /*espaço entre tags filhas*/
}

header .logo{
    margin-left: 5px;
    color: var(--rosaPink);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav a {
    text-decoration: none;
    color: rgb(108, 0, 108);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--amarelo);
}

/*filme principal*/

.documentario-principal{
    font-size: 16px;
    background: linear-gradient(rgba(78, 2, 52, 0.5),rgba(227, 144, 196, 0.5)), url('../img/maxresdefault.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.documentario-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.documentario-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao{
    background-color: var(--azulClaro);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--azulClaro);
}

.botao i{
    margin-right: 8px;
}